@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');


.welcome{
    height: 100vh;
    width: 100%;
    background-image: url('main.jpg');
    background-repeat : no-repeat;
    background-color: black;
    background-position: center;
    background-size: contain;
    position: relative;
}

.content{
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gowun Dodum', sans-serif;
    color: white;
    text-align: center;
    font-size: 16px;
}

#go{
    margin-top: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}