@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');


#logo{
    width: 20%;
    height: 20%;
    margin-top: 10px;
}

article{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.detail{
    display: none;
    font-family: 'Gowun Dodum', sans-serif;
}
.posTitle{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 32px;
}
#posExplain{
    font-size: 18px;
    font-weight: normal;
}

.section{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

#fRank{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
}

.dCenter{
    text-align: center;
    margin-bottom: 10px;
}
#rank{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
    
}
#frame{
    max-width: 95%;
    height: auto;
}
#dFrame{
    max-width: 95%;
    height: auto;
}
#title{
    font-size: 24px;
    font-weight: bold;
}
#explain{
    font-size: 18px;
}
#difBtn{
    margin-top: 100px;
    margin-bottom: 50px;
}
footer{
    font-family: 'Gowun Dodum', sans-serif;
    text-align: center;
    font-size: 14px;
    margin-top: 80px;
    padding-bottom: 20px;
}
